.primary-nav {
    .input-box {
        position: relative;
        display: flex;
        align-items: center;

        .icon-container {
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
    }
}

.active {
    position: relative;
    &:after{
        content: '';
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 75%;
        height: 4px;
        background-color: #000;
    }
}