.shop-section{
    .shop-sidenav{
        .categories{
            .categories-list{
                .list-link{
                    display: flex;
                    align-items: center;
                    font-size: 1.15rem;
                    padding: 5px 0;
                    span{
                        flex: 1;
                    }
                    .product-count{
                        text-align: right;
                    }
                }
            }
        }
    }
    .shop-content{
        .product-list-detail{
            font-size: 15px;
        }
        .products-container{
            .product-card{
                border: 1px solid #ababab;
                border-radius: 5px;
                .product-img{
                    width: 100%;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .product-name{
                    font-size: 20px;
                }
                .product-desc{
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
}